openpyxl==3.0.9
pandas==1.3.3
requests==2.26.0
tldextract==3.2.2
colorama==0.4.4

"0c24256e3715811d3b623ff09719696e875dfb850d5eebdc72f3ab7fd6d51490",
"ade84aff679bcb640ef6ac23424b3ffe6a65970a974d93c7551b17ffe0688828",
"da76fe105033e40bff5d67381457c2a8c86d90812d75c34818184b79dee1d1b8",
"a16c443c66e02b6e0961884e194a09f06a330f81f94d9dcb999946d08023d0a2",
"99905b180d8639ef5c3a852c0849e5483b2c0c7327a917d8cb42044c71f0f65d"
https://blog.netlab.360.com/rss
https://abnormalsecurity.com/feed/
https://www.accenture.com/us-en/blogs/blogs-rss-feed.xml
https://www.adaptivemobile.com/blog/rss.xml
https://www.ahnlab.com/rss/rssList.do
https://blogs.akamai.com/security/rss.xml
https://blogs.akamai.com/index.xml
https://www.alienvault.com/blogs/labs-research/rss
https://www.alienvault.com/blogs/security-essentials/feed
https://www.alienvault.com/feed
https://www.anomali.com/blog/topic/indicators-of-compromise/rss
https://www.anomali.com/blog/feed
https://www.anomali.com/blog?format=rss
https://www.arbornetworks.com/blog/asert/feed/
https://www.armor.com/feed/
https://www.business.att.com/rss?site=cybersecurity
https://attackforge.com/blog/feed/
https://blog.avast.com/topic/threat-labs/feed
https://blog.avast.com/topic/security/rss.xml
https://www.avira.com/en/rss.xml
https://awakesecurity.com/feed
https://badpackets.net/feed/
https://www.binarydefense.com/threat-watch/feed/
https://www.bitdefender.com/blog/feed/
https://www.bitdefender.com/files/community/rss/
https://www.bleepingcomputer.com/feed/
No RSS feed available
https://www.blueridgenetworks.com/feed/
https://www.blueliv.com/feed/
https://www.bluevoyant.com/feed/
https://www.blumira.com/feed/
https://www.boozallen.com/content/dam/boozallen_site/email/newsletters/rss/insight_security.rss
https://www.brightcloud.com/blog/rss.xml
https://www.carbonblack.com/feed/
https://www.carbonblack.com/blog/feed/
https://censys.io/blog/feed.xml
https://blog.checkpoint.com/feed/
https://research.checkpoint.com/feed/
https://chronicle.security/feed/
https://blogs.cisco.com/security/feed
https://blog.talosintelligence.com/feeds/posts/default?alt=rss
https://blog.talosintelligence.com/feeds/posts/default?alt=rss
https://www.talosintelligence.com/rss
https://umbrella.cisco.com/blog/feed/
https://blog.cloudflare.com/tag/threat-research/feed/
https://www.cloudflare.com/feeds/
https://cofense.com/category/threat-intelligence-reports/feed/
https://cofense.com/feed/
https://cofense.com/feed/
https://blog.comodo.com/feed/
https://www.secureworks.com/rss-feed?content-type=blogs
https://www.crdfglobal.org/taxonomy/term/171/feed
https://www.crowdstrike.com/blog/category/threat-intel/feed/
https://www.crowdstrike.com/blog/feed/
https://www.crowdstrike.com/blog/feed/
https://www.cryptonitenxt.com/feed/
No RSS feed available
https://cybelangel.com/feed/
https://www.cyberthreatalliance.org/feed/
https://www.cyberbit.com/blog/feed/
https://www.cybereason.com/blog/rss.xml
https://www.cybereason.com/blog/feed
https://blog.cyberint.com/rss.xml
https://www.cyberscoop.com/feed/
https://www.cyberscoop.com/category/threat-hunting/feed/
https://cybersift.com/feed/
https://www.cybersixgill.com/blog/feed/
https://www.cybsafe.com/blog/feed/
https://www.cyjax.com/feed/
https://www.cyjax.com/feed/
https://cyware.com/blogs/feed
https://cyware.com/blog/feed/
https://www.darkreading.com/rss_simple.asp
https://www.darkreading.com/rss_simple.asp
https://www.darkreading.com/rss_simple.asp
https://www.secureworks.com/rss-feed?content-type=blogs
https://www.digitalshadows.com/feed/
https://www.domaintools.com/resources/rss-feeds/
https://dragos.com/feed/
https://www.dragos.com/feed/
https://www.dragos.com/feed/
https://www.dragos.com/blog/feed/
https://www.eclecticiq.com/blog/topic/threat-intelligence/feed
https://www.eclecticiq.com/feed.xml
https://www.endgame.com/blog/rss.xml
https://www.enveil.com/feed/
https://www.welivesecurity.com/feed/
https://www.eset.com/int/rss/
https://www.exabeam.com/blog/feed/
https://www.fidelissecurity.com/threatgeek/feed/
https://fidelissecurity.com/threatgeek/feed/
https://www.fidelissecurity.com/threatgeek/feed/
https://www.fireeye.com/blog/threat-research.feed?type=rss
https://www.fireeye.com/blog/feed.rss
https://www.fireeye.com/blog/threat-research/_jcr_content.feed
https://www.fireeye.com/blog/threat-research/_jcr_content.feed
https://www.flashpoint-intel.com/feed/
https://www.flashpoint-intel.com/feed/
https://www.forcepoint.com/blog.xml
https://www.fortinet.com/blog/threat-research.feed?type=rss
https://www.fortinet.com/blog/rss
https://www.fortinet.com/rss/fortinet-blog.xml
https://www.fortinet.com/rss
https://labs.f-secure.com/feed/
https://blog.f-secure.com/feed/
https://www.f-secure.com/rss/blog/
https://www.fsisac.com/rss/news
https://www.gdatasoftware.com/blog/feed
https://github.blog/category/security/feed/
https://www.glasswallsolutions.com/feed/
https://www.globalsign.com/en/blog/rss/
https://www.globalsign.com/rss
https://security.googleblog.com/atom.xml
https://security.googleblog.com/feeds/posts/default?alt=rss
https://greynoise.io/blog/feed
https://blog.greynoise.io/feed.xml
https://www.group-ib.com/blog/feed/
https://www.group-ib.com/blog/rss
https://groupsense.io/blog/feed/
https://hackercombat.com/feed/
https://www.helpnetsecurity.com/feed/
https://h-isac.org/feed/
https://hoxhunt.com/feed/
https://www.hypr.com/feed/
https://www.ibm.com/blogs/security/feed/
https://securityintelligence.com/feed/
https://www.ibm.com/security/xforce/rss
https://www.ibm.com/blogs/security/intelligence/feed/
https://exchange.xforce.ibmcloud.com/hub/rss.xml
https://www.intel.com/content/www/us/en/security/blogs.xml
https://www.imperva.com/blog/feed/
https://www.imperva.com/blog/feed/
https://www.imperva.com/feed/
No RSS feed available
https://blogs.infoblox.com/feed/
https://www.infosecurity-magazine.com/rss/
https://www.infosum.com/feed/
https://inquest.net/feed/
https://www.intel471.com/blog/feed
https://intel471.com/blog/feed/
https://interset.com/feed/
https://www.intezer.com/blog/feed/
https://www.intezer.com/feed/
https://www.intsights.com/blog/rss.xml
https://ioactive.com/feed/
https://blogs.juniper.net/en-us/threat-research?format=RSS
https://securelist.com/feed/
https://securelist.com/feed/
https://krebsonsecurity.com/feed/
https://www.lastline.com/blog/feed/
https://blog.malwarebytes.com/category/threat-intelligence/feed/
https://blog.malwarebytes.com/feed/
https://blog.malwarebytes.com/feed/
http://blog.malwaremustdie.org/feeds/posts/default?alt=rss
https://www.mcafee.com/blogs/threat-intelligence/feed/
https://www.mcafee.com/blogs/feed/
https://www.microsoft.com/security/blog/feed/
https://www.mimecast.com/feed/
https://attack.mitre.org/resources/rss-feeds/
https://news.netcraft.com/feed/
https://www.netenrich.com/feed/
https://www.netscout.com/blog/rss.xml
http://www.norse-corp.com/feed/
https://unit42.paloaltonetworks.com/feed/
https://researchcenter.paloaltonetworks.com/feed/
https://unit42.paloaltonetworks.com/feed/
https://researchcenter.paloaltonetworks.com/feed
https://www.phishlabs.com/feed/
https://cofense.com/feed/
https://cofense.com/blog/feed/
https://www.proofpoint.com/us/blog/threat-insight/feed
https://www.proofpoint.com/us/rss.xml
https://www.proofpoint.com/us/threat-insight/feed
https://www.q6cyber.com/feed/
https://www.q6cyber.com/feed/
https://www.recordedfuture.com/blog/feed/
https://www.recordedfuture.com/feed/
https://www.recordedfuture.com/blog/feed/
https://redcanary.com/feed/
https://redcanary.com/blog/feed/
https://blog.reversinglabs.com/rss.xml
https://www.reversinglabs.com/feed
https://blog.reversinglabs.com/feed
https://community.riskiq.com/blog/feed/
https://www.riskiq.com/feed/
https://www.riskiq.com/blog/feed/
https://isc.sans.edu/rssfeed.xml
https://isc.sans.edu/rssfeed_full.xml
https://securelist.com/all/feed/
https://www.secureworks.com/rss
https://www.secureworks.com/blog/rss
https://www.secureworks.com/rss
https://securityscorecard.com/blog/rss
https://securityscorecard.com/feed.xml
https://www.securityweek.com/rss
https://labs.sentinelone.com/feed/
https://www.sentinelone.com/feed/
https://www.sentinelone.com/feed/
https://news.sophos.com/en-us/category/threats-2/feed/
https://news.sophos.com/en-us/feed/
https://news.sophos.com/en-us/feed/
https://www.splunk.com/en_us/blog/feed.rss
https://www.splunk.com/en_us/blog.feed.xml
https://symantec-enterprise-blogs.security.com/blogs/threat-intelligence/feed/
https://symantec-enterprise-blogs.security.com/blogs/threat-intelligence/feed
https://www.symantec.com/blogs/feed/
https://www.symantec.com/blogs/threat-intelligence/feed
https://www.tenable.com/blog/rss
https://www.threatconnect.com/feed/
https://www.threatconnect.com/blog/feed/
https://threatconnect.com/feed/
https://www.threatfabric.com/blog-feed.xml
https://www.threatfabric.com/feed/
https://www.threatfabric.com/blogs/feed/
https://www.cisco.com/c/en/us/products/security/threat-grid/blog.xml
https://blogs.cisco.com/tag/threatgrid/feed
https://threatpost.com/feed/
https://www.threatq.com/rss.xml
https://www.threatq.com/feed/
https://www.anomali.com/blog/feed
https://www.anomali.com/blog/feed
https://www.trendmicro.com/us/rss-feeds.xml
https://www.tip.threatintelligenceplatform.com/feed
https://www.trendmicro.com/vinfo/us/security/news/rss/rss.xml
https://www.trendmicro.com/vinfo/us/security/news/rss
https://www.trendmicro.com/us/rss-feeds.xml
https://www.trendmicro.com/en_us/research.html/rss
https://www.trustar.co/rss
https://www.trustar.co/feed/
https://www.trustwave.com/en-us/resources/blogs/spiderlabs-blog/rss/
https://unit42.paloaltonetworks.com/feed/
https://us-cert.cisa.gov/ncas/current-activity.xml
https://www.vadesecure.com/feed/
https://www.vadesecure.com/en/blog/feed/
https://enterprise.verizon.com/resources/rss-feed/
https://www.verizon.com/business/resources/security/rss
https://www.virusbulletin.com/blog/feed/
No RSS feed available
https://www.webroot.com/blog/feed/
https://exchange.xforce.ibmcloud.com/rss
https://www.zdnet.com/topic/security/rss.xml
https://www.zerofox.com/feed/
https://www.zscaler.com/blogs/research/feed
http://blog.checkpoint.com/feed/
https://feedly.com/web/ec8037cf-4ed7-4300-a018-0f4764eeabfe
https://www.proofpoint.com/us/threat-insight-blog.xml
http://blog.crowdstrike.com/feed
https://malware.news/posts.rss
https://www.secureworks.com/rss?feed=research
https://www.cybereason.com/blog/rss.xml
https://www.secureworks.com/rss?feed=blog
http://blog.morphisec.com/rss.xml
http://www.securelist.com/en/rss/allupdates
https://api.reddit.com/subreddit/blueteamsec
http://vrt-sourcefire.blogspot.com/feeds/posts/default
https://blog.sekoia.io/feed/
http://securitylabs.websense.com/content/blogsRSS.xml
https://feedly.com/web/c64d1780-51a2-4c7c-ad64-725f79473455
https://feedly.com/web/69302a94-94ad-426e-8fea-f27ff015b8ab
http://feeds.trendmicro.com/TrendMicroResearch
https://www.redcanary.co/feed/
http://researchcenter.paloaltonetworks.com/feed/
http://businessinsights.bitdefender.com/rss.xml
https://research.checkpoint.com/feed
https://feedly.com/web/cfcc7f28-c420-4405-b3c3-075b660c05d6
http://blog.eset.com/feed
https://blogs.forcepoint.com/security-labs.xml
http://blogs.technet.com/mmpc/rss.xml
https://feeds.fortinet.com/fortinet/blog/threat-research
http://feeds.feedburner.com/darknethackers
http://feeds.feedburner.com/PentestTools
http://securityintelligence.com/feed/
http://www.guardian.co.uk/technology/data-computer-security/rss
http://www.csoonline.com/index.rss
https://thecyberwire.com/feeds/rss.xml
https://www.cisomag.com/feed/
https://medium.com/feed/anton-on-security
http://feeds.feedburner.com/tripwire-state-of-security
http://bartblaze.blogspot.com/feeds/posts/default
http://www.schneier.com/blog/index.rdf
https://securelist.com/feed/
http://feeds.feedburner.com/darknethackers
http://googleprojectzero.blogspot.com/feeds/posts/default
http://blog.netlab.360.com/rss/
http://labs.alienvault.com/labs/index.php/feed/
https://community.qualys.com/blogs/securitylabs/feeds/posts
https://www.secureworks.com/rss?feed=research
http://krebsonsecurity.com/feed/
https://www.exploit-db.com/rss.xml
http://securityreason.com/rss/ExploitAlert
http://packetstormsecurity.org/exploits.xml
http://seclists.org/rss/fulldisclosure.rss
http://nvd.nist.gov/download/nvd-rss.xml
https://www.cisecurity.org/feed/advisories
http://www.us-cert.gov/current/index.rdf
http://securityreason.com/rss/SecurityAlert
https://www.us-cert.gov/ncas/alerts.xml
http://rss.packetstormsecurity.com/files/tags/code_execution/
https://jvn.jp/en/rss/jvn.rdf
https://vuldb.com/?rss.updates
http://www.kb.cert.org/vulfeed
http://rss.packetstormsecurity.org/news/tags/zero_day/
http://feeds.feedburner.com/GrahamCluleysBlog
http://securityaffairs.co/wordpress/feed
http://www.zdnet.com/blog/security/rss
http://feeds.trendmicro.com/TrendMicroSimplySecurity
http://thehackernews.com/feeds/posts/default
http://packetstormsecurity.org/headlines.xml
http://www.silobreaker.com/feed
https://www.cyberscoop.com/feed/
http://feeds.feedburner.com/Securityweek
http://gizmodo.com/tag/security/rss
http://www.theregister.co.uk/security/headlines.atom
http://news.softpedia.com/newsRSS/Security-5.xml
http://itsecurityguru.org/feed/
http://www.bleepingcomputer.com/feed/
http://www.darkreading.com/rss/all.xml
http://feeds.feedburner.com/HaveIBeenPwnedLatestBreaches
http://webfeeds.brookings.edu/brookingsrss/programs/foreignpolicy?format=xml
https://www.rand.org/topics/cybercrime.xml
http://foreignpolicy.com/feed/
http://www.tandfonline.com/action/showFeed?type=etoc&feed=rss&jc=rcyb20
http://feeds.feedburner.com/AtlanticInternational
http://www.nytimes.com/services/xml/rss/nyt/World.xml
http://www.foreignaffairs.com/rss.xml
https://www.lowyinstitute.org/the-interpreter/rss.xml
http://www.rand.org/blog.xml
http://feeds.guardian.co.uk/theguardian/world/rss
http://feeds.feedburner.com/GrahamCluleysBlog
https://api.reddit.com/subreddit/netsec
http://securityaffairs.co/wordpress/feed
http://www.zdnet.com/blog/security/rss
http://feeds.trendmicro.com/TrendMicroSimplySecurity
http://thehackernews.com/feeds/posts/default
http://packetstormsecurity.org/headlines.xml
https://www.cyberscoop.com/feed/
http://feeds.feedburner.com/Securityweek
http://gizmodo.com/tag/security/rss
http://www.theregister.co.uk/security/headlines.atom
http://news.softpedia.com/newsRSS/Security-5.xml
http://itsecurityguru.org/feed/
http://www.bleepingcomputer.com/feed/
http://www.darkreading.com/rss/all.xml
http://www.arubanetworks.com/security-advisory/feed/
http://www.cvedetails.com/vulnerability-feed.php?vendor_id=0&product_id=0&version_id=0&orderby=3&cvssscoremin=0
https://security.paloaltonetworks.com/rss.xml
http://www.tenable.com/security/feed
http://pub.kb.fortinet.com/rss/firmware.xml
http://www.fortiguard.com/rss/ir.xml
http://blog.phishme.com/feed/
https://blogs.forcepoint.com/rss.xml
http://blog.malwarebytes.org/feed/
https://www.google.com/alerts/feeds/15111030049047272918/3573166595846597676
http://securitylabs.websense.com/content/blogsRSS.xml
http://blog.crowdstrike.com/feed
https://cloudblogs.microsoft.com/microsoftsecure/feed/
https://support.lenovo.com/in/en/api/v4/search/psrss?language=en&country=in&brand=EBG,TPG,IPG,MOTO,PHONE,TABLET,SMART,FCCL
http://blogs.cisco.com/rss/security/
http://www.securelist.com/en/rss/allupdates
http://blog.fox-it.com/feed/
https://advisories.feedly.com/cisa/blogs/Cybersecurity/feed.json
http://www.blackhillsinfosec.com/?feed=rss2
https://www.proofpoint.com/rss.xml
https://blog.talosintelligence.com/feeds/posts/default
https://www.flashpoint-intel.com/blog/feed/
https://wapacklabs.blogspot.com/feeds/posts/default?alt=rss
http://research.zscaler.com/feeds/posts/default
http://feeds.feedblitz.com/alienvault-blogs
https://www.secureworks.com/rss?feed=resources
http://blog.malwarebytes.org/feed/
https://www.digitalshadows.com/blog-and-research/feed/
https://www.recordedfuture.com/feed/
http://feeds.feedburner.com/HeimdalSecurityBlog
http://blog.checkpoint.com/feed/
http://feeds.feedburner.com/NakedSecurity
http://blog.zimperium.com/feed/
http://blog.trailofbits.com/feed/
http://www.volexity.com/blog/?feed=rss2
http://asert.arbornetworks.com/feed/
http://blog.morphisec.com/rss.xml
http://blogs.cisco.com/security/talos/feed
http://feeds.feedburner.com/Imperviews?format=xml
http://blogs.aws.amazon.com/security/blog/feed/recentPosts.rss
https://community.qualys.com/blogs/feeds/posts
http://blog.kaspersky.com/feed/
http://blogs.technet.com/msrc/rss.xml
http://blog.radware.com/feed/
http://blog.tenablesecurity.com/atom.xml
http://researchcenter.paloaltonetworks.com/feed/
http://googleonlinesecurity.blogspot.com/atom.xml
http://blog.phishme.com/feed/
http://feeds.feedburner.com/fortinet/blogs
https://research.checkpoint.com/feed
https://posts.specterops.io/feed
http://threatstream.com/site/blog-rss
http://www.intezer.com/feed/
https://blog.verisign.com/feed/
http://blogs.mcafee.com/category/mcafee-labs/feed
https://blogs.microsoft.com/on-the-issues/feed/
http://www.threatconnect.com/feed/
http://blog.virustotal.com/feeds/posts/default
http://blog.eset.com/feed
https://filestore.fortinet.com/fortiguard/rss/ir.xml
http://feeds.feedburner.com/Unit42
http://blog.kaspersky.com/feed/
https://gbhackers.com/feed/
https://www.flashpoint-intel.com/blog/feed/
http://www.csoonline.com/index.rss
http://iscxml.sans.org/rssfeed.xml
http://blogs.technet.com/msrc/rss.xml
http://researchcenter.paloaltonetworks.com/feed/
http://blogs.mcafee.com/mcafee-labs/feed
http://asert.arbornetworks.com/feed/
http://blog.phishme.com/feed/
http://securityintelligence.com/feed/
http://blog.webroot.com/feed/
http://feeds.feedburner.com/fortinet/blogs
http://isc1.sans.org/dailypodcast.xml
https://www.proofpoint.com/us/rss.xml
http://blogs.mcafee.com/category/mcafee-labs/feed
https://www.proofpoint.com/rss.xml
http://feeds.feedburner.com/HeimdalSecurityBlog
http://touchmymalware.blogspot.com/feeds/posts/default
http://www.infosecurity-magazine.com/rss/news/
http://blogs.technet.com/mmpc/rss.xml
http://www.bleepingcomputer.com/feed/
https://api.reddit.com/subreddit/Malware
https://api.reddit.com/search/malware;relevance/ccecdb33-0fc0-48de-931b-0a1705ebeb18
https://www.cisa.gov/uscert/ncas/alerts.xml
https://cyware.co/news/feed.php
https://www.ptsecurity.com/ww-en/rss/esc-threat/
https://malware.news/posts.rss
http://www.darkreading.com/rss_simple.asp?f_n=659&f_ln=Threat%20Intelligence
http://bartblaze.blogspot.com/feeds/posts/default
http://www.malware-traffic-analysis.net/blog-entries.rss
